@charset "utf-8";

/* comm */
/* .wping-auto{width: 1000px;margin-left: auto;margin-right: auto;min-width: 1000px} */

/* header module start */
.wping-header{background-color: #094AA1;padding: 0 2%;position: absolute;top: 0;left: 0;z-index: 1001;width: 96%;min-width: 1000px;}
.wping-logo{line-height: 70px;}
.wping-logo img{margin-right: 20px;margin-top: 10px}
.wping-header .layui-nav{background-color: transparent;margin-top: 10px}
.wping-header .layui-nav *{font-size: 16px}
.wping-header .layui-nav li{}
.layui-nav .layui-this:after,.layui-nav-bar{background-color: #FFFFFF}
.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this{background-color: transparent}
.layui-nav-child{top: 70px}
.wping-header .layui-nav .layui-nav-item.layui-this{background-color: #FFF;color: #094AA1;border-radius: 10px 10px 0 0;}
.wping-header .layui-nav .layui-nav-item.layui-this a{color: #094AA1;}
/* header module end */
/* menu start */
/* .layui-side{top: 70px;bottom: 60px;border-right: 1px solid #ddd;border-top: 1px solid #ddd;background-color: #FFF} */
.layui-side{top: 0;bottom: 0;border-right: 1px solid #ddd;border-top: 1px solid #ddd;background-color: #FFF}
.wping-menu .layui-nav{background-color: #FFF}
.wping-menu .layui-nav .layui-nav-item a{color: #094AA1;font-weight: bold;}
.wping-menu .layui-nav-itemed>a{color: #094AA1!important;font-weight: bold;}
.wping-menu .layui-nav .layui-nav-item .layui-nav-child a{font-size: 14px;color: #333;font-weight: normal}
.wping-menu .layui-nav-itemed>a .layui-nav-more{border-bottom-color: #094AA1;border-top-color: transparent}
.wping-menu .layui-nav .layui-nav-more{border-top-color: #C1C1C1}
.wping-menu .layui-nav-item{border: 1px solid #ddd;border-top: none}
.wping-menu .layui-nav .layui-this a{background-color: #094AA1;color: #FFF!important}
.wping-menu .layui-nav .layui-nav-item a:hover{background-color: #EEE}
.wping-menu .layui-nav .layui-this a:hover{background-color: #094AA1;color: #333!important}
.wping-menu .layui-nav .layui-nav-bar{background-color: #094AA1}
.layui-nav-itemed>.layui-nav-child{background-color: transparent!important;}
.layui-nav-item .layui-nav-child .layui-nav-more{display: none}
.layui-nav-child .layui-nav-child dd{padding-left: 10px}
.wping-menu .layui-nav .layui-nav-child dd.layui-this{background-color: #094AA1;color: #FFF}
.wping-menu .layui-nav .layui-nav-child dd.layui-this a,.wping-menu .layui-nav .layui-nav-child dd.layui-this i{color: #FFF!important}
.wping-menu .layui-nav .layui-nav-item.layui-this a,.wping-menu .layui-nav .layui-nav-item.layui-this i{color: #fff!important}
.layui-nav .layui-nav-item .layui-nav-child dd.layui-nav-itemed{}
/* menu end */
/* main start */
.wping-body{min-width: 800px;}
.layui-body{top: 0;bottom: 0;left: 0;background-color: #EcF0F5;}
.wping-bodymain{margin: 10px 20px;}
.wping-bodycontent{}
/* main end */
/* breadcrumb start */
.wping-breadcrumb{height: 45px;line-height: 45px;background-color: #FFFFFF;padding: 0 20px;}
.layui-breadcrumb{margin-left: 8px}
.layui-breadcrumb a{color: #333!important}
.layui-breadcrumb a:hover{color: #094AA1!important}
/* breadcrumb end */

/* footer start */
.wping-footer{position: fixed;bottom: 0;left: 0;right: 0;background-color: #FFFFFF;height: 50px;padding: 5px 0;z-index: 1000;border-top: 1px solid #DDDDDD;line-height: 24px}
/* footer end */
/* searchfrom start */
.wping-searchform{background-color: #FFFFFF;/*border-left: 4px solid #094AA1;*/margin-bottom: 0;}
/* search end */
/* panel start */
/* .layui-card{background-color: transparent;margin-left: 20px;margin-right: 20px} */
/* .layui-card-header{background-color: #094AA1;border-radius: 10px 10px 0 0;color: #FFF;font-size: 20px} */

/* panel end */
/* bodytitle start */
.wping-bodytitle{border-bottom: 1px solid #ddd;border-left: 4px solid #094AA1;padding: 20px 0;background-color: #FFFFFF;}
.wping-bodytitle .layui-card-header{font-size: 22px;color: #094AA1;border-bottom: none;background-color: transparent;}
/* bodytitle end */
/* table */
.layui-table-view{margin: 0}

/* wping-tree start */
.wping-tree{position: absolute;left: 0;top: 0;bottom: 0;margin: auto;width: 190px;border-right: 2px solid #ddd;margin-left: 10px;background-color: #fff}
/* wping-tree end */

/* lay-tab */
.main-panel-tab .layui-tab-title{border-bottom-color: #094AA1}
.main-panel-tab .layui-tab-title li{margin-right: 5px;border: 1px solid #094AA1;border-bottom: 0}
.main-panel-tab .layui-tab-title .layui-this{background-color: #094AA1;color: #FFF}
/* end */
